build/
data/
to_compress/
*.log
*.sav
*.gba
*.lnk
*.elf
*.zip
*.exe
.vscode/
.venv/
source/test_payload.txt
include/translated_text.h
source/translated_text.cpp
text_helper/output.json
text_helper/text.xlsx
tools/rom-value-generator/payload-generator
text_errors.txt
terminal_output.txt
tools/payload-generator/payload-generator
tools/make-file-container/make-file-container
loader/data
options.json
loader/data/
tools/gba-payload-generator/gba-payload-generator
tools/bps-patch-trim/bps-patch-trim
